.twitch-button {
    background-color: #9147FF;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.twitch-button:hover {
    background-color: #7535CC;
}

.discord-button {
    background-color: #5562EA;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.discord-button:hover {
    background-color: #7289DA;
}

.defult-button {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
	border: none;
	border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
  
.defult-button:hover {
    background-color: #3E8E41;
}

.save-button {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
	border: none;
	border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
  
.save-button:hover {
    background-color: #3E8E41;
}

.logout-button {
    background-color: #ff0000;
    color: #FFFFFF;
    padding: 10px 20px;
	border: none;
	border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
  
.logout-button:hover {
    background-color: #c21414;
}

a.popup-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.top-bar .menu li.is-active a {
    color: #555555;
    font-weight: bold;
}

/* Styling for the API key wrapper */
.api-key-wrapper {
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 10px;
  display: none;
}

.copy-icon {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 50%;
}

.material-icons {
    font-size: 24px;
}

.search-and-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search-input {
    width: 600px;
}

.category-select {
    width: 200px;
}

.sort-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  vertical-align: middle;
}

.sort-icon.asc::after {
  content: "▲";
}

.sort-icon.desc::after {
  content: "▼";
}

.icon-toggle-dark-mode {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://cdn.yourlist.online/img/dark-theme.svg');
    background-size: cover;
}

/* DARK MODE */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.dark-mode-content {
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode body {
    background-color: #1a1a1a;
    color: #ffffff
}

.dark-mode .dark-mode-content {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode-table {
  background-color: #444444;
  color: #ffffff;
}

.dark-mode-table thead,
.dark-mode-table tbody,
.dark-mode-table tfoot {
  border: 1px solid #444444;
  background-color: #555555;
}

.dark-mode-table caption {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
}

.dark-mode-table thead {
  background: #666666;
  color: #dddddd;
}

.dark-mode-table tfoot {
  background: #555555;
  color: #dddddd;
}

.dark-mode-table thead tr,
.dark-mode-table tfoot tr {
  background: transparent;
}

.dark-mode-table thead th,
.dark-mode-table thead td,
.dark-mode-table tfoot th,
.dark-mode-table tfoot td {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
  text-align: left;
}

.dark-mode-table tbody th,
.dark-mode-table tbody td {
  padding: 0.5rem 0.625rem 0.625rem;
}

.dark-mode-table tbody tr:nth-child(even) {
  border-bottom: 0;
  background-color: #666666;
}

.dark-mode-table.unstriped tbody {
  background-color: #555555;
}

.dark-mode-table.unstriped tbody tr {
  border-bottom: 1px solid #444444;
  background-color: #555555;
}
.light-mode-table {
  background-color: #ffffff;
  color: #000000;
}

.light-mode-table thead,
.light-mode-table tbody,
.light-mode-table tfoot {
  border: 1px solid #f1f1f1;
  background-color: #fefefe;
}

.light-mode-table caption {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
}

.light-mode-table thead {
  background: #f8f8f8;
  color: #0a0a0a;
}

.light-mode-table tfoot {
  background: #f1f1f1;
  color: #0a0a0a;
}

.light-mode-table thead tr,
.light-mode-table tfoot tr {
  background: transparent;
}

.light-mode-table thead th,
.light-mode-table thead td,
.light-mode-table tfoot th,
.light-mode-table tfoot td {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
  text-align: left;
}

.light-mode-table tbody th,
.light-mode-table tbody td {
  padding: 0.5rem 0.625rem 0.625rem;
}

.light-mode-table tbody tr:nth-child(even) {
  border-bottom: 0;
  background-color: #f1f1f1;
}

.light-mode-table.unstriped tbody {
  background-color: #fefefe;
}

.light-mode-table.unstriped tbody tr {
  border-bottom: 1px solid #f1f1f1;
  background-color: #fefefe;
}